:root{
    --dourado : #BC6C25;
    --preto : #000000;
   --cinza-escuro: #343A40;
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: var(--dourado);
display: flex;
justify-content: center:

}
.menu-item{
   display: inline-block;
   padding: 10px;
   color: var(--preto--);
   margin:- top 10px ;
}



.logo{
    width:15%;
    margin: 50px;
}

.principal{
background-color: var(--dourado);
background-image: linear-gradient(var(--dourado,var(--preto));
display: flex;

}